<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunpay.permission.dao.impl.MerchantReportDaoImpl">

	<!-- 商户交易流水分页查询 -->
	<select id="listPage" parameterType="java.util.Map" resultType="com.yunpay.permission.entity.PayTranLs">
		select t.*, s.storeName from t_pay_tran_ls t 
		left join t_merchant m on t.merchantNo = m.merchantNo
		left join t_store s on s.merId = m.id
		<if test="merchantNo != null">
			LEFT JOIN t_merchant_user u ON u.merchantNo = m.merchantNo
		</if>
		where 1=1
		<if test="cashierNo != null">
		    and t.cashierNo = #{cashierNo}
		</if>
		<if test="merchantNo != null">
		    and t.merchantNo = #{merchantNo}
		</if>
		<if test="transTime1 != null and transTime2 != null">
			and DATE_FORMAT(t.transTime,'%Y-%m-%d') between #{transTime1} and #{transTime2} 
		</if>
		<if test="merchantName != null">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
		<if test="transNum != null">
			and t.transNum like concat(concat('%',#{transNum}),'%')
		</if>
		<if test="channel != null and channel == '1'.toString()">      
			and t.channel =1
		</if>
		<if test="channel != null and channel == '2'.toString()">      
			and t.channel =2
		</if>
		<if test="channel != null and channel == '0'.toString()">      
			and t.channel =1 or t.channel = 2
		</if>
		<if test="status != null">
			and t.status= #{status}
		</if>
		    order by t.transTime desc
			limit #{pageIndex},#{pageSize}
		<![CDATA[]]>
	</select>
	
	<!--按条件查询交易流水 -->
	<select id="listBy" parameterType="java.util.Map" resultType="com.yunpay.permission.entity.PayTranLs">
		select 0 id,t.merchantName,s.storeName,t.user_order_no,t.transNum,t.trade_no,t.totalPrice,(t.totalPrice - t.transPrice) discountPrice,
		t.transPrice,(case when t.channel = 1 then '支付宝' when t.channel = 2 then '微信' when t.channel = 3 then '银联' when t.channel = 4 then '预存款' end) channel,
		(case when t.subChannel = 0 then '支付宝wap' when t.subChannel = 1 then '支付宝条码' when t.subChannel = 2 then '支付宝扫码'  when t.subChannel = 3 then '微信wap'  
		when t.subChannel = 4 then '微信条码' when t.subChannel = 5 then '微信扫码'  end) subChannel,
		(case when t.status = 0 then '未付款' when t.status = 1 then '付款中' when t.status = 2 then '已付款' when t.status = 3 then '已退款' 
		when t.status = 4 then '退款中' when t.status = 5 then '退款失败' when t.status = 6 then '付款失败'
		when t.status = 7 then '撤销' end) status,
		t.transTime from t_pay_tran_ls t 
		left join t_merchant m on t.serialNo = m.merchantNo
		left join t_store s on s.merId = m.id
		where 1=1
		<if test="transTime1 != null and transTime2 != null">
			and t.transTime between #{transTime1} and #{transTime2} 
		</if>
		<if test="merchantName != null">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
		<if test="transNum != null">
			and t.transNum like concat(concat('%',#{transNum}),'%')
		</if>
		<if test="channel != null">
			and t.channel =#{channel}
		</if>
		<if test="status != null">
			and t.status= #{status}
		</if>
		<![CDATA[]]>
	</select>
	

	<!-- 查询交易流水总记录数 -->
	<select id="listPageCount" parameterType="java.util.Map" resultType="int">
		select count(id) from t_pay_tran_ls t
		<if test="merchantNo != null">
			LEFT JOIN t_merchant_user u ON u.merchantNo = t.merchantNo
		</if>
		 where 1=1
		<if test="merchantNo != null">
			t.merchantNo=#{merchantNo}
		</if>
		<if test="cashierNo != null">
		    and t.cashierNo = #{cashierNo}
		</if>
		<if test="transTime1 != null and transTime2 != null">
			and DATE_FORMAT(t.transTime,'%Y-%m-%d') between #{transTime1} and #{transTime2} 
		</if>
		<if test="merchantName != null">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
		<if test="transNum != null">
			and t.transNum like concat(concat('%',#{transNum}),'%')
		</if>
		<if test="channel != null and channel == '1'.toString()">      
			and t.channel =1
		</if>
		<if test="channel != null and channel == '2'.toString()">      
			and t.channel =2
		</if>
		<if test="channel != null and channel == '0'.toString()">      
			and t.channel =1 or t.channel = 2
		</if>
		<if test="status != null">
			and t.status= #{status}
		</if>
		<![CDATA[]]>
	</select>
	
	
	<!-- 日交易汇总:综合报表-->
	<select id="sumDayDeal" parameterType="java.util.Map" resultType="com.yunpay.permission.entity.SumDayDeal">
	<![CDATA[
		select a.transTime,a.channel,
		round(sum(case when a.channel = '支付宝'   then a.sum_trans end),2) as alipaySumTrans,
		round(sum(case when a.channel = '支付宝'   then a.count_trans end),0) as alipayCountTrans,
		round(sum(case when a.channel = '微信' then a.sum_trans end),2) as wechatSumTrans,
		round(sum(case when a.channel = '微信' then a.count_trans end),0) as wechatCountTrans
		from(
			select date_format(t.transTime, '%Y-%m-%d') transTime,
			(case when t.channel = 1 then '支付宝' when t.channel = 2 then '微信' end) channel,
			sum(t.transPrice) sum_trans,count(date_format(t.transTime, '%Y-%m-%d')) count_trans
			from t_pay_tran_ls t where 1=1 
	]]>
		<if test="transTime == null">
			and date_format(t.transTime, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
		</if>
		<if test="transTime != null">
			and date_format(t.transTime, '%Y-%m-%d') = #{transTime}
		</if>
		<if test="merchantName != null">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
			group by date_format(t.transTime, '%Y-%m-%d'),t.channel having t.channel = 1 or t.channel = 2)a GROUP BY a.transTime,a.channel
	</select>
	
	<!-- 日期范围交易汇总：综合报表 -->
	<select id="sumDateDeal" parameterType="java.util.Map" resultType="com.yunpay.permission.entity.SumDateDeal">
		<![CDATA[
		select a.channel,
		round(sum(case when a.channel = '支付宝' then a.sum_trans end) ,2) as alipaySumTrans,
		round(sum(case when a.channel = '支付宝' then a.count_trans end),0) as alipayCountTrans,
		round(sum(case when a.channel = '微信' then a.sum_trans end),2) as wechatSumTrans,
		round(sum(case when a.channel = '微信' then a.count_trans end),0) as wechatCountTrans
		from(
			select (case when t.channel = 1 then '支付宝' when t.channel = 2 then '微信' end) channel,
			sum(t.transPrice) sum_trans,count(t.id) count_trans
			from t_pay_tran_ls t where 1=1 
	]]>
		<if test="transTimeBegin != null and transTimeEnd != null">
			and (t.transTime between #{transTimeBegin} and #{transTimeEnd}) 
		</if>
		<if test="merchantName != null and merchantName != '合计'">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
			group by t.channel having t.channel = 1 or t.channel = 2)a GROUP BY a.channel
	</select>
	
	<!-- 日交易详细总记录：综合报表  -->
	<select id="countDayDeal" parameterType="java.util.Map"  resultType="int">
	<![CDATA[
		select count(*) from(
		select s.merchantName,
		sum(s.alipaySumTrans) alipaySumTrans,
		sum(s.alipayCountTrans) alipayCountTrans,
		sum(s.wechatSumTrans) wechatSumTrans,
		sum(s.wechatCountTrans) wechatCountTrans from (
		select c.* from(
			select a.merchantName,
  			round(sum(case when a.channel = '支付宝'   then a.sum_trans end),2) as alipaySumTrans,
			round(sum(case when a.channel = '支付宝'   then a.count_trans end),0) as alipayCountTrans,
			round(sum(case when a.channel = '微信' then a.sum_trans end),2) as wechatSumTrans,
			round(sum(case when a.channel = '微信' then a.count_trans end),0) as wechatCountTrans
				from(
					SELECT t.merchantName,sum(t.transPrice) sum_trans,
					(CASE WHEN t.channel = '1' THEN '支付宝' WHEN t.channel = '2' THEN '微信' END) channel,count(t.id) count_trans
					FROM t_pay_tran_ls t where 1=1 ]]>
			<if test="transTime == null">
					and date_format(t.transTime, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
			</if>
			<if test="transTime != null">
					and date_format(t.transTime, '%Y-%m-%d') = #{transTime}
			</if>
			<if test="merchantName != null">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
			<![CDATA[	    GROUP BY t.channel,t.merchantName
					HAVING t.channel = '1' OR t.channel = '2') a group by a.channel,a.merchantName)	 c]]>
		<![CDATA[
		UNION
		select '合计', 
		sum(d.alipaySumTrans) alipaySumTrans,sum(d.alipayCountTrans) alipayCountTrans,
		sum(d.wechatSumTrans) wechatSumTrans,sum(d.wechatCountTrans) wechatCountTrans from(
			select a.merchantName,
  			round(sum(case when a.channel = '支付宝'   then a.sum_trans end),2) as alipaySumTrans,
			round(sum(case when a.channel = '支付宝'   then a.count_trans end),0) as alipayCountTrans,
			round(sum(case when a.channel = '微信' then a.sum_trans end),2) as wechatSumTrans,
			round(sum(case when a.channel = '微信' then a.count_trans end),0) as wechatCountTrans
		from(
			SELECT t.merchantName,sum(t.transPrice) sum_trans,(CASE WHEN t.channel = '1' THEN '支付宝' WHEN t.channel = '2' THEN '微信' END) channel,
			count(t.id) count_trans FROM t_pay_tran_ls t where 1=1 ]]>
			<if test="transTime == null">
					and date_format(t.transTime, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
			</if>
			<if test="transTime != null">
					and date_format(t.transTime, '%Y-%m-%d') = #{transTime}
			</if>
			<if test="merchantName != null">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
			<![CDATA[
			GROUP BY t.channel,t.merchantName
			HAVING t.channel = '1' OR t.channel = '2') a group by a.channel,a.merchantName) d) 
			s  GROUP BY s.merchantName)	e
			]]>
	</select>
	
	<!-- 日交易详细分页查询:综合报表 -->
	<select id="dayDeal"  parameterType="java.util.Map"  resultType="com.yunpay.permission.entity.DealDetail">
		<![CDATA[
		select 
			s.merchantName,
			sum(s.alipaySumTrans) alipaySumTrans,
			sum(s.alipayCountTrans) alipayCountTrans,
			sum(s.wechatSumTrans) wechatSumTrans,
			sum(s.wechatCountTrans) wechatCountTrans
		from(
		select e.* from(
			select c.* from(
			select a.merchantName,
  			round(sum(case when a.channel = '支付宝'   then a.sum_trans end),2) as alipaySumTrans,
			round(sum(case when a.channel = '支付宝'   then a.count_trans end),0) as alipayCountTrans,
			round(sum(case when a.channel = '微信' then a.sum_trans end),2) as wechatSumTrans,
			round(sum(case when a.channel = '微信' then a.count_trans end),0) as wechatCountTrans
				from(
					SELECT t.merchantName,sum(t.transPrice) sum_trans,
					(CASE WHEN t.channel = '1' THEN '支付宝' WHEN t.channel = '2' THEN '微信' END) channel,count(t.id) count_trans
					FROM t_pay_tran_ls t where 1=1 ]]>
			<if test="transTime == null">
					and date_format(t.transTime, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
			</if>
			<if test="transTime != null">
					and date_format(t.transTime, '%Y-%m-%d') = #{transTime}
			</if>
			<if test="merchantName != null">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
			<![CDATA[
					GROUP BY t.channel,t.merchantName
					HAVING t.channel = '1' OR t.channel = '2') a group by a.channel,a.merchantName)	 c ]]>
			<![CDATA[
		UNION
		select '合计', 
		sum(d.alipaySumTrans) alipaySumTrans,sum(d.alipayCountTrans) alipayCountTrans,
		sum(d.wechatSumTrans) wechatSumTrans,sum(d.wechatCountTrans) wechatCountTrans from(
			select a.merchantName,
  			round(sum(case when a.channel = '支付宝'   then a.sum_trans end),2) as alipaySumTrans,
			round(sum(case when a.channel = '支付宝'   then a.count_trans end),0) as alipayCountTrans,
			round(sum(case when a.channel = '微信' then a.sum_trans end),2) as wechatSumTrans,
			round(sum(case when a.channel = '微信' then a.count_trans end),0) as wechatCountTrans
		from(
			SELECT t.merchantName,sum(t.transPrice) sum_trans,(CASE WHEN t.channel = '1' THEN '支付宝' WHEN t.channel = '2' THEN '微信' END) channel,
			count(t.id) count_trans FROM t_pay_tran_ls t where 1=1]]>
			<if test="transTime == null">
					and date_format(t.transTime, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
			</if>
			<if test="transTime != null">
					and date_format(t.transTime, '%Y-%m-%d') = #{transTime}
			</if>
			<if test="merchantName != null">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
			<![CDATA[
			GROUP BY t.channel,t.merchantName
			HAVING t.channel = '1' OR t.channel = '2') a group by a.channel,a.merchantName) d ) e
			limit #{pageIndex},#{pageSize}
		) s GROUP BY s.merchantName
			]]>
			
	</select>
	
	
	<!-- 日期范围交易详细 总记录:综合报表-->
	<select id="countDateDeal"  parameterType="java.util.Map"  resultType="int">
		<![CDATA[
		select count(*) from(
		select s.merchantName,
		sum(s.alipaySumTrans) alipaySumTrans,
		sum(s.alipayCountTrans) alipayCountTrans,
		sum(s.wechatSumTrans) wechatSumTrans,
		sum(s.wechatCountTrans) wechatCountTrans from (
		select c.* from(
			select a.merchantName,
  			round(sum(case when a.channel = '支付宝'   then a.sum_trans end),2) as alipaySumTrans,
			round(sum(case when a.channel = '支付宝'   then a.count_trans end),0) as alipayCountTrans,
			round(sum(case when a.channel = '微信' then a.sum_trans end),2) as wechatSumTrans,
			round(sum(case when a.channel = '微信' then a.count_trans end),0) as wechatCountTrans
				from(
					SELECT t.merchantName,sum(t.transPrice) sum_trans,
					(CASE WHEN t.channel = '1' THEN '支付宝' WHEN t.channel = '2' THEN '微信' END) channel,count(t.id) count_trans
					FROM t_pay_tran_ls t  WHERE 1=1 ]]>
					<if test="transTimeBegin != null and transTimeEnd != null">
						and (t.transTime between #{transTimeBegin} and #{transTimeEnd})
					</if>
					<if test="merchantName != null">
						and t.merchantName like concat(concat('%',#{merchantName}),'%')
					</if>
					<![CDATA[
					GROUP BY t.channel,t.merchantName
					HAVING t.channel = '1' OR t.channel = '2') a group by a.channel,a.merchantName)	 c]]>
		<![CDATA[
		UNION
		select '合计', 
		sum(d.alipaySumTrans) alipaySumTrans,sum(d.alipayCountTrans) alipayCountTrans,
		sum(d.wechatSumTrans) wechatSumTrans,sum(d.wechatCountTrans) wechatCountTrans from(
			select a.merchantName,
  			round(sum(case when a.channel = '支付宝'   then a.sum_trans end),2) as alipaySumTrans,
			round(sum(case when a.channel = '支付宝'   then a.count_trans end),0) as alipayCountTrans,
			round(sum(case when a.channel = '微信' then a.sum_trans end),2) as wechatSumTrans,
			round(sum(case when a.channel = '微信' then a.count_trans end),0) as wechatCountTrans
		from(
			SELECT t.merchantName,sum(t.transPrice) sum_trans,(CASE WHEN t.channel = '1' THEN '支付宝' WHEN t.channel = '2' THEN '微信' END) channel,
			count(t.id) count_trans FROM t_pay_tran_ls t WHERE 1=1 ]]>
			<if test="transTimeBegin != null and transTimeEnd != null">
				and (t.transTime between #{transTimeBegin} and #{transTimeEnd})
			</if>
			<if test="merchantName != null">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
			<![CDATA[
			GROUP BY t.channel,t.merchantName
			HAVING t.channel = '1' OR t.channel = '2') a group by a.channel,a.merchantName) d) s GROUP by s.merchantName ) e]]>
	</select>
	
	<!-- 日期范围交易详细分页查询：综合报表-->
	<select id="dateDeal"  parameterType="java.util.Map"  resultType="com.yunpay.permission.entity.DealDetail">
		<![CDATA[
		select 
			s.merchantName,
			sum(s.alipaySumTrans) alipaySumTrans,
			sum(s.alipayCountTrans) alipayCountTrans,
			sum(s.wechatSumTrans) wechatSumTrans,
			sum(s.wechatCountTrans) wechatCountTrans
		from(
		select e.* from(
			select c.* from(
			select a.merchantName,
  			round(sum(case when a.channel = '支付宝'   then a.sum_trans end),2) as alipaySumTrans,
			round(sum(case when a.channel = '支付宝'   then a.count_trans end),0) as alipayCountTrans,
			round(sum(case when a.channel = '微信' then a.sum_trans end),2) as wechatSumTrans,
			round(sum(case when a.channel = '微信' then a.count_trans end),0) as wechatCountTrans
				from(
					SELECT t.merchantName,sum(t.transPrice) sum_trans,
					(CASE WHEN t.channel = '1' THEN '支付宝' WHEN t.channel = '2' THEN '微信' END) channel,count(t.id) count_trans
					FROM t_pay_tran_ls t WHERE  1=1 ]]>				
				<if test="transTimeBegin != null and transTimeEnd != null">
					and (t.transTime between #{transTimeBegin} and #{transTimeEnd})
				</if>
			<if test="merchantName != null">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
				<![CDATA[
					GROUP BY t.channel,t.merchantName
					HAVING t.channel = '1' OR t.channel = '2') a group by a.channel,a.merchantName)	 c]]>
		<![CDATA[
		UNION
		select '合计', 
		sum(d.alipaySumTrans) alipaySumTrans,sum(d.alipayCountTrans) alipayCountTrans,
		sum(d.wechatSumTrans) wechatSumTrans,sum(d.wechatCountTrans) wechatCountTrans from(
			select a.merchantName,
  			round(sum(case when a.channel = '支付宝'   then a.sum_trans end),2) as alipaySumTrans,
			round(sum(case when a.channel = '支付宝'   then a.count_trans end),0) as alipayCountTrans,
			round(sum(case when a.channel = '微信' then a.sum_trans end),2) as wechatSumTrans,
			round(sum(case when a.channel = '微信' then a.count_trans end),0) as wechatCountTrans
		from(
			SELECT t.merchantName,sum(t.transPrice) sum_trans,(CASE WHEN t.channel = '1' THEN '支付宝' WHEN t.channel = '2' THEN '微信' END) channel,
			count(t.id) count_trans FROM t_pay_tran_ls t WHERE 1=1]]>
			<if test="transTimeBegin != null and transTimeEnd != null">
					and (t.transTime between #{transTimeBegin} and #{transTimeEnd})
			</if>
			<if test="merchantName != null">
			and t.merchantName like concat(concat('%',#{merchantName}),'%')
		</if>
			<![CDATA[
			GROUP BY t.channel,t.merchantName
			HAVING t.channel = '1' OR t.channel = '2') a group by a.channel,a.merchantName) d) e
			limit #{pageIndex},#{pageSize}
		) s GROUP by s.merchantName
			]]>
	</select>
	
	
	<!-- 输出日交易图形报表数据-->
	<select id="printDayDeal" parameterType="java.util.Map" resultType="com.yunpay.permission.entity.SumDayDeal">
		select k.transTime,k.channel,sum(k.alipayCountTrans) alipayCountTrans,sum(k.wechatCountTrans) wechatCountTrans from
		(
			select h.* from(
				select t.* from
				(
					select a.transTime,a.channel,
					CAST(sum(case when a.channel = '支付宝' then a.count_trans end) as SIGNED) as alipayCountTrans,
					CAST(sum(case when a.channel = '微信' then a.count_trans end) as SIGNED) as wechatCountTrans
					from(
						select  date_format(t.transTime, '%H') transTime,
						(case when t.channel = 1 then '支付宝' when t.channel = 2 then '微信' end) channel,
						count(date_format(t.transTime, '%H')) count_trans
						from t_pay_tran_ls t where 1=1
						<![CDATA[
							and date_format(t.transTime, '%Y-%m-%d') = #{transTime}]]>
						<if test="merchantName != null">
							and t.merchantName like concat(concat('%',#{merchantName}),'%')
						</if>
						<![CDATA[
							group by t.transTime,t.channel  ]]>
						<if test="channel != null and channel == '1'.toString()">
							having t.channel = 1 
						</if>
						<if test="channel != null and channel == '2'.toString() ">
							having t.channel = 2 
						</if>
						<if test="channel == null">
							having t.channel = 1 or t.channel = 2
						</if>
						<![CDATA[
						) 
					a GROUP BY a.transTime,a.channel
				)t
			) 
			h]]>
			union
		<if test="channel != null and channel == '1'.toString() ">
			<foreach collection="unionList" item="item" index="index" separator="union">
				select #{item},'支付宝',0,null
			</foreach>
		</if>
		<if test="channel != null and channel == '2'.toString() ">
			<foreach collection="unionList" item="item" index="index" separator="union">
				select #{item},'微信',null,0
			</foreach>
		</if>	
		<if test="channel == null ">
			<foreach collection="unionList" item="item" index="index" separator="union">
				select #{item},'支付宝',0,null
			</foreach>
			union
			<foreach collection="unionList" item="item" index="index" separator="union">
				select #{item},'微信',null,0
			</foreach>
		</if>
	) k  GROUP BY k.transTime,k.channel order by k.transTime
	</select>
	
	
	<!-- 输出日期范围交易图形报表数据-->
	<select id="printDateDeal" parameterType="java.util.Map" resultType="com.yunpay.permission.entity.SumDateDeal">
		<![CDATA[
		select * from(
		select a.transTime,a.channel,
		CAST(sum(case when a.channel = '支付宝'   then a.count_trans end) as SIGNED) as alipayCountTrans,
		CAST(sum(case when a.channel = '微信' then a.count_trans end) as SIGNED) as wechatCountTrans
		from(
			select date_format(t.transTime, '%H') transTime,
			(case when t.channel = 1 then '支付宝' when t.channel = 2 then '微信' end) channel,
			count(date_format(t.transTime, '%H')) count_trans
			from t_pay_tran_ls t where 1=1]]>
			<if test="transTime != null">
				and date_format(t.transTime, '%Y-%m-%d') = #{transTime}
			</if>
			<if test="merchantName != null">
				and t.merchantName like concat(concat('%',#{merchantName}),'%')
			</if>
			<![CDATA[
			group by date_format(t.transTime, '%H'),t.channel ]]>
			<if test="channel != null">
				having t.channel = #{channel}
			</if>
			<if test="channel == null">
				having t.channel = 1 or t.channel=2
			</if>
		<![CDATA[
		)a GROUP BY a.transTime,a.channel) t]]>
	</select>
	
			<!-- 取得最后的交易时间-->
	<select id="getLastTranTime"  resultType="java.util.Date">
		select transTime from  t_pay_tran_ls  order by transTime desc limit 1	
	</select>
	
	
	
</mapper>