<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunpay.permission.dao.impl.SysLogsDaoImpl">

	<sql id="t_sys_logs"> T_SYS_LOGS </sql>
	
	<resultMap id="beanMap" type="com.yunpay.permission.entity.LogsEntity">
        <id column="log_id"             property="log_id"           jdbcType="INTEGER" />
        <result column="user_id"        property="user_id"          jdbcType="VARCHAR" />
        <result column="user_type"      property="user_type"        jdbcType="VARCHAR" />
        <result column="log_time"       property="log_time"         jdbcType="TIMESTAMP" />
        <result column="log_type"       property="log_type"         jdbcType="VARCHAR" />
        <result column="log_content"    property="log_content"      jdbcType="VARCHAR" />
        <result column="ip"             property="ip"               jdbcType="VARCHAR" />
        <result column="login_name"     property="login_name"       jdbcType="VARCHAR" />
        <result column="user_name"      property="user_name"        jdbcType="VARCHAR" />
        <result column="result"         property="result"           jdbcType="VARCHAR" />
        <result column="module_code"    property="module_code"      jdbcType="VARCHAR" />
        <result column="function_code"  property="function_code"    jdbcType="VARCHAR" />
        <result column="msg"            property="msg"              jdbcType="VARCHAR" />
        <!-- 
        <result column="request_url"    property="request_url"      jdbcType="VARCHAR" />
        <result column="query_string"   property="query_string"     jdbcType="VARCHAR" />
         -->
    </resultMap>
    <!-- 现在用到的 -->
    <select id="selectByPrimaryKey" parameterType="java.util.Map" resultMap="beanMap">
        select * from 
        <include refid="t_sys_logs" />
        <where>
            log_id = #{_parameter }
        </where>
    </select>
	
	<select id="findall" parameterType="java.util.Map" resultMap="beanMap">
        select distinct  Log_type from
        <include refid="t_sys_logs" /> 
        order by Log_type 
    </select>

    <!-- 统计条数 -->
    <select id="listPageCount" parameterType="java.util.Map" resultType="long">
        select count(1) from
        <include refid="t_sys_logs" />
        <where>
            <include refid="factor_sql" />
        </where>
    </select>
    
    <!-- 分页 -->
    <select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
	    select * from (
	        select logs.*,rownum rowno from
	        (select * from <include refid="t_sys_logs" /> order by log_time desc )logs
	        <where>
	            <include refid="factor_sql" />
	        </where>
	        ) where rowno between #{startRowNum} and #{endRowNum}
        order by rowno
    </select>
    
    <sql id="factor_sql">
        <!-- 动态语句 -->
        <if test="Login_name != null and Login_name != ''"> and login_name like CONCAT(CONCAT('%', #{Login_name}), '%')</if>
        <if test="Log_type   != null and Log_type != ''">   and log_type   like CONCAT(CONCAT('%', #{Log_type}), '%')</if>
        
        <if test="Contract_begin != null and Contract_begin != ''"> and log_time &gt; to_date('${Contract_begin}','yyyy-mm-dd')</if>
        <if test="Contract_end != null and Contract_end != ''"> and log_time &lt; to_date('${Contract_end}','yyyy-mm-dd')+1 </if>
        <!-- 
        <if test="Contract_begin != 'null 00:00:00' and Contract_begin != ' 00:00:00'"> and log_time &gt; to_date('${Contract_begin}','yyyy-mm-dd hh24:mi:ss')</if>
        <if test="Contract_end != 'null 23:59:59' and Contract_end != ' 23:59:59'"> and log_time &lt; to_date('${Contract_end}','yyyy-mm-dd hh24:mi:ss')</if>
         -->
    </sql>
</mapper>
