<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunpay.h5merch.dao.impl.card.CommonfieldDaoImpl">	    

 	<!-- 根据模板信息ID查找激活字段 -->
 	<select id="getCommonfield" parameterType="Integer" resultType="com.yunpay.h5merch.permission.entity.card.Commonfield">
 		select id,template_id as templateId,field,value
		from t_membercard_template_commonfield  
 		where template_id=#{templateId}
 	</select>

    <!-- 添加会员卡激活字段 -->
    <insert id="insertCommonfield" parameterType="java.util.List">
        insert into t_membercard_template_commonfield (template_id,field,value)
			values
		<foreach collection="list" item="item" index="index" separator=",">
         	(#{item.templateId,jdbcType=INTEGER},#{item.field,jdbcType=VARCHAR},#{item.value,jdbcType=INTEGER})
 		</foreach>
    </insert>
   
    <!-- 删除会员卡激活字段 -->
    <delete id="deleteCommonfield" parameterType="Integer">
    	delete t_membercard_template_commonfield
    	where template_id=#{templateId}
    </delete> 
 </mapper>
