<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpay.serv.dao.CardInfoDao" >
  <resultMap id="BaseResultMap" type="com.yunpay.serv.model.CardInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="cardColor" property="cardColor" jdbcType="VARCHAR" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="couponsType" property="couponsType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="defaultSend" property="defaultSend" jdbcType="INTEGER" />
    <result column="orgNo" property="orgNo" jdbcType="VARCHAR" />
    <result column="merNo" property="merNo" jdbcType="VARCHAR" />
    <result column="weixin_card_id" property="weixin_card_id" jdbcType="VARCHAR" />
    <result column="weixin_show_qrcode_url" property="weixin_show_qrcode_url" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="putchannel" property="putchannel" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="inventory" property="inventory" jdbcType="INTEGER" />
    <result column="background" property="background" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="aliBackImg" property="aliBackImg" jdbcType="VARCHAR" />
    <result column="startDate" property="startDate" jdbcType="TIMESTAMP" />
    <result column="endDate" property="endDate" jdbcType="TIMESTAMP" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="VARCHAR" />
    <result column="merchant" property="merchant" jdbcType="VARCHAR" />
    <result column="createdAt" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updatedAt" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="discountMoney" jdbcType="DOUBLE" property="discountMoney" />
    <result column="limitMoney" jdbcType="DOUBLE" property="limitMoney" />
    <result column="customtitle" jdbcType="VARCHAR" property="customtitle" />
    <result column="limitNum" jdbcType="INTEGER" property="limitNum" />
    <result column="canShare" jdbcType="VARCHAR" property="canShare" />
    <result column="canGive" jdbcType="VARCHAR" property="canGive" />
    <result column="notice" jdbcType="VARCHAR" property="notice" />
    <result column="urltitle" jdbcType="VARCHAR" property="urltitle" />
    <result column="urldesc" jdbcType="VARCHAR" property="urldesc" />
    <result column="urlcontent" jdbcType="VARCHAR" property="urlcontent" />
    <result column="alipassTemplateId" jdbcType="VARCHAR" property="alipassTemplateId" />
    <result column="appId" jdbcType="VARCHAR" property="appId" />
    <result column="merchantName" jdbcType="VARCHAR" property="merchantName" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="codetype" jdbcType="VARCHAR" property="codetype" />
    <result column="promotion_url_name" jdbcType="VARCHAR" property="promotion_url_name" />
    <result column="promotion_url" jdbcType="VARCHAR" property="promotion_url" />
    <result column="text_image_list" jdbcType="VARCHAR" property="text_image_list" />
    <result column="time_limit" jdbcType="VARCHAR" property="time_limit" />
    <result column="use_condition" jdbcType="VARCHAR" property="use_condition" />
    <result column="consume_share_card_list" jdbcType="VARCHAR" property="consume_share_card_list" />
    <result column="location_id_list" jdbcType="VARCHAR" property="location_id_list" />
    <result column="business_service" jdbcType="VARCHAR" property="business_service" />
     <result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, cardColor, subtitle, type, couponsType, status, defaultSend, orgNo, merNo, weixin_card_id, weixin_show_qrcode_url, url,
     putchannel, number, inventory, background, logo, aliBackImg, startDate, 
    endDate, tel, operation, merchant, createdAt, updatedAt , discount, discountMoney, limitMoney, customtitle, limitNum, 
    canShare,canGive, notice, urltitle, urldesc, urlcontent, alipassTemplateId, appId, 
    merchantName, detail, codetype, promotion_url_name, promotion_url, text_image_list, time_limit, use_condition, 
    consume_share_card_list, location_id_list, business_service, deleteStatus
  </sql>
   
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_card_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_card_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunpay.serv.model.CardInfo" useGeneratedKeys="true" keyProperty="id">
    insert into t_card_info (id, title, cardColor, 
      subtitle, type, couponsType, status, defaultSend, orgNo, merNo, weixin_card_id, weixin_show_qrcode_url, url, putchannel, number, 
      inventory, background, logo, aliBackImg,
      startDate, endDate, tel, 
      operation, merchant, createdAt, 
      updatedAt, discount, discountMoney, limitMoney , customtitle, 
      limitNum, canShare,canGive, notice, 
      urltitle, urldesc, urlcontent, alipassTemplateId, appId,  
      merchantName, detail, codetype, promotion_url_name, promotion_url, text_image_list,  time_limit, use_condition,
      consume_share_card_list, location_id_list, business_service , deleteStatus)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{cardColor,jdbcType=VARCHAR}, 
      #{subtitle,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{couponsType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{defaultSend,jdbcType=INTEGER},  
      #{orgNo,jdbcType=VARCHAR}, #{merNo,jdbcType=VARCHAR}, #{weixin_card_id,jdbcType=VARCHAR},
      #{weixin_show_qrcode_url,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{putchannel,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, 
      #{inventory,jdbcType=INTEGER}, #{background,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR},  #{aliBackImg,jdbcType=VARCHAR},
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{tel,jdbcType=VARCHAR}, 
      #{operation,jdbcType=VARCHAR}, #{merchant,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{discount,jdbcType=DOUBLE}, #{discountMoney,jdbcType=DOUBLE}, #{limitMoney,jdbcType=DOUBLE}, #{customtitle,jdbcType=VARCHAR}, 
      #{limitNum,jdbcType=INTEGER}, #{canShare,jdbcType=VARCHAR},#{canGive,jdbcType=VARCHAR}, #{notice,jdbcType=VARCHAR}, 
      #{urltitle,jdbcType=VARCHAR}, #{urldesc,jdbcType=VARCHAR}, #{urlcontent,jdbcType=VARCHAR}, 
      #{alipassTemplateId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR} ,
      #{merchantName,jdbcType=VARCHAR} , #{detail,jdbcType=VARCHAR} , #{codetype,jdbcType=VARCHAR} ,
      #{promotion_url_name,jdbcType=VARCHAR} , #{promotion_url,jdbcType=VARCHAR},
      #{text_image_list,jdbcType=VARCHAR}, #{time_limit,jdbcType=VARCHAR}, #{use_condition,jdbcType=VARCHAR}, 
      #{consume_share_card_list,jdbcType=VARCHAR}, #{location_id_list,jdbcType=VARCHAR}, #{business_service,jdbcType=VARCHAR} ,  #{deleteStatus,jdbcType=INTEGER})  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yunpay.serv.model.CardInfo" >
    update t_card_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cardColor != null" >
        cardColor = #{cardColor,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="couponsType != null" >
        couponsType = #{couponsType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="defaultSend != null" >
        defaultSend = #{defaultSend,jdbcType=INTEGER},
      </if>
      <if test="orgNo != null" >
        orgNo = #{orgNo,jdbcType=VARCHAR},
      </if>
       <if test="merNo != null" >
        merNo = #{merNo,jdbcType=VARCHAR},
      </if>
      <if test="weixin_card_id != null" >
        weixin_card_id = #{weixin_card_id,jdbcType=VARCHAR},
      </if>
      <if test="weixin_show_qrcode_url != null" >
        weixin_show_qrcode_url = #{weixin_show_qrcode_url,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="putchannel != null" >
        putchannel = #{putchannel,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="inventory != null" >
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
      <if test="background != null" >
        background = #{background,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="aliBackImg != null" >
        aliBackImg = #{aliBackImg,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        startDate = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        endDate = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null" >
        merchant = #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        createdAt = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="discountMoney != null">
        discountMoney = #{discountMoney,jdbcType=DOUBLE},
      </if>
       <if test="limitMoney != null">
        limitMoney = #{limitMoney,jdbcType=DOUBLE},
      </if>
      <if test="customtitle != null">
        customtitle = #{customtitle,jdbcType=VARCHAR},
      </if>
      <if test="limitNum != null">
        limitNum = #{limitNum,jdbcType=INTEGER},
      </if>
      <if test="canShare != null">
        canShare = #{canShare,jdbcType=VARCHAR},
      </if>
      <if test="canGive != null">
        canGive = #{canGive,jdbcType=VARCHAR},
      </if>
      <if test="notice != null">
        notice = #{notice,jdbcType=VARCHAR},
      </if>
      <if test="urltitle != null">
        urltitle = #{urltitle,jdbcType=VARCHAR},
      </if>
      <if test="urldesc != null">
        urldesc = #{urldesc,jdbcType=VARCHAR},
      </if>
      <if test="urlcontent != null">
        urlcontent = #{urlcontent,jdbcType=VARCHAR},
      </if>
      <if test="alipassTemplateId != null">
        alipassTemplateId = #{alipassTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        appId = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        merchantName = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="codetype != null">
        codetype = #{codetype,jdbcType=VARCHAR},
      </if>
      <if test="promotion_url_name != null">
        promotion_url_name = #{promotion_url_name,jdbcType=VARCHAR},
      </if>
      <if test="promotion_url != null">
        promotion_url = #{promotion_url,jdbcType=VARCHAR},
      </if>
      <if test="text_image_list != null">
        text_image_list = #{text_image_list,jdbcType=VARCHAR},
      </if>
      <if test="time_limit != null">
        time_limit = #{time_limit,jdbcType=VARCHAR},
      </if>
      <if test="use_condition != null">
        use_condition = #{use_condition,jdbcType=VARCHAR},
      </if>
      <if test="consume_share_card_list != null">
        consume_share_card_list = #{consume_share_card_list,jdbcType=VARCHAR},
      </if>
      <if test="location_id_list != null">
        location_id_list = #{location_id_list,jdbcType=VARCHAR},
      </if>
      <if test="business_service != null">
        business_service = #{business_service,jdbcType=VARCHAR},
      </if>
       <if test="deleteStatus != null">
         deleteStatus = #{deleteStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunpay.serv.model.CardInfo" >
    update t_card_info
    set title = #{title,jdbcType=VARCHAR},
      cardColor = #{cardColor,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      couponsType = #{couponsType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      defaultSend = #{defaultSend,jdbcType=INTEGER},
      orgNo = #{orgNo,jdbcType=VARCHAR},
      merNo = #{merNo,jdbcType=VARCHAR},
      weixin_card_id = #{weixin_card_id,jdbcType=VARCHAR},
      weixin_show_qrcode_url = #{weixin_show_qrcode_url,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      putchannel = #{putchannel,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      inventory = #{inventory,jdbcType=INTEGER},
      background = #{background,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      aliBackImg = #{aliBackImg,jdbcType=VARCHAR},
      startDate = #{startDate,jdbcType=TIMESTAMP},
      endDate = #{endDate,jdbcType=TIMESTAMP},
      tel = #{tel,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      merchant = #{merchant,jdbcType=VARCHAR},
      createdAt = #{createdAt,jdbcType=TIMESTAMP},
      updatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      discount = #{discount,jdbcType=DOUBLE},
      discountMoney = #{discountMoney,jdbcType=DOUBLE},
      limitMoney = #{limitMoney,jdbcType=DOUBLE},
      customtitle = #{customtitle,jdbcType=VARCHAR},
      limitNum = #{limitNum,jdbcType=INTEGER},
      canShare = #{canShare,jdbcType=VARCHAR},
      canGive = #{canGive,jdbcType=VARCHAR},
      notice = #{notice,jdbcType=VARCHAR},
      urltitle = #{urltitle,jdbcType=VARCHAR},
      urldesc = #{urldesc,jdbcType=VARCHAR},
      urlcontent = #{urlcontent,jdbcType=VARCHAR},
      alipassTemplateId = #{alipassTemplateId,jdbcType=VARCHAR},
      appId = #{appId,jdbcType=VARCHAR},
      merchantName = #{merchantName,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      codetype = #{codetype,jdbcType=VARCHAR},
      promotion_url_name = #{promotion_url_name,jdbcType=VARCHAR},
      promotion_url = #{promotion_url,jdbcType=VARCHAR},
      text_image_list = #{text_image_list,jdbcType=VARCHAR},
      time_limit = #{time_limit,jdbcType=VARCHAR},
      use_condition = #{use_condition,jdbcType=VARCHAR},
      consume_share_card_list = #{consume_share_card_list,jdbcType=VARCHAR},
      location_id_list = #{location_id_list,jdbcType=VARCHAR},
      business_service = #{business_service,jdbcType=VARCHAR},
      deleteStatus = #{deleteStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByCardId" parameterType="com.yunpay.serv.model.CardInfo" >
    update t_card_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cardColor != null" >
        cardColor = #{cardColor,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="background != null" >
        background = #{background,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="aliBackImg != null" >
        aliBackImg = #{aliBackImg,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        startDate = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        endDate = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="customtitle != null">
        customtitle = #{customtitle,jdbcType=VARCHAR},
      </if>
      <if test="canShare != null">
        canShare = #{canShare,jdbcType=VARCHAR},
      </if>
      <if test="canGive != null">
        canGive = #{canGive,jdbcType=VARCHAR},
      </if>
      <if test="notice != null">
        notice = #{notice,jdbcType=VARCHAR},
      </if>
      <if test="urltitle != null">
        urltitle = #{urltitle,jdbcType=VARCHAR},
      </if>
      <if test="urldesc != null">
        urldesc = #{urldesc,jdbcType=VARCHAR},
      </if>
      <if test="urlcontent != null">
        urlcontent = #{urlcontent,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        appId = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="codetype != null">
        codetype = #{codetype,jdbcType=VARCHAR},
      </if>
      <if test="promotion_url_name != null">
        promotion_url_name = #{promotion_url_name,jdbcType=VARCHAR},
      </if>
      <if test="promotion_url != null">
        promotion_url = #{promotion_url,jdbcType=VARCHAR},
      </if>
      <if test="text_image_list != null">
        text_image_list = #{text_image_list,jdbcType=VARCHAR},
      </if>
      <if test="time_limit != null">
        time_limit = #{time_limit,jdbcType=VARCHAR},
      </if>
      <if test="use_condition != null">
        use_condition = #{use_condition,jdbcType=VARCHAR},
      </if>
      <if test="consume_share_card_list != null">
        consume_share_card_list = #{consume_share_card_list,jdbcType=VARCHAR},
      </if>
      <if test="location_id_list != null">
        location_id_list = #{location_id_list,jdbcType=VARCHAR},
      </if>
      <if test="business_service != null">
        business_service = #{business_service,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="putchannel==1">
     	where alipassTemplateId = #{alipassTemplateId,jdbcType=VARCHAR}
    </if>
    <if test="putchannel==2">
    	where weixin_card_id = #{weixin_card_id,jdbcType=VARCHAR}
    </if>
  </update>
  
  
</mapper>