<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunpay.serv.dao.MerchantDao" >
	<resultMap id="beanMap" type="com.yunpay.serv.model.Merchant" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="registerName" property="registerName" jdbcType="VARCHAR" />
	    <result column="merchantNo" property="merchantNo" jdbcType="VARCHAR" />
	     <result column="merchantName" property="merchantName" jdbcType="VARCHAR" />
	    <result column="agentSerialNo" property="agentSerialNo" jdbcType="VARCHAR" />
	    <result column="industryTypeId" property="industryTypeId" jdbcType="INTEGER" />
	    <result column="md5Key" property="md5Key" jdbcType="VARCHAR" />
	    <result column="contactMan" property="contactMan" jdbcType="VARCHAR" />
	    <result column="phone" property="phone" jdbcType="VARCHAR" />
	    <result column="tel" property="tel" jdbcType="VARCHAR" />
	    <result column="prov" property="prov" jdbcType="VARCHAR" />
	    <result column="city" property="city" jdbcType="VARCHAR" />
	    <result column="area" property="area" jdbcType="VARCHAR" />
	    <result column="address" property="address" jdbcType="VARCHAR" />
	    <result column="status" property="status" jdbcType="TINYINT" />
	    <result column="auditStatus" property="auditStatus" jdbcType="TINYINT" />
	    <result column="orgNo" property="orgNo" jdbcType="VARCHAR" />
	</resultMap>
</mapper>