@CHARSET "UTF-8";
	/* 消除页面底部loading字样*/
	.ui-loader-default{ display:none}
	.ui-mobile-viewport{ border:none;}
	.ui-page {padding: 0; margin: 0; outline: 0} 
	
* {
	margin: 0;
	padding: 0;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-webkit-tap-highlight-color:transparent;
	}
.mescroll{
	position: fixed;
	height: auto;
}
			
/*下拉刷新回调的提示*/
.download-tip{
	z-index: 9900;
	position: fixed;
	left: 0;
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	background-color: rgba(80,175,85,.7);
	color: white;
	-webkit-transition: top 300ms;
	transition: top 300ms;
}
/*回到顶部按钮*/
.mescroll-totop {
	bottom: 70px;
}