.tdw5{width::5%}
.tdw10{width::10%}
.tdw15{width::15%}
.tdw20{width: 20%;}
.tdw25{width: 25%;}
.tdw30{width::30%}
.tdw35{width::35%}
.tdw40{width::40%}
.tdw45{width::45%}
.tdw50{width::50%}
.tdw55{width::55%}
.tdw60{width: 60%;}
.tdw65{width: 65%;}
.tdw70{width: 70%;}
.tdw75{width: 75%;}
.tdw80{width: 80%;}
.tdw85{width: 85%;}
.tdw80{width: 90%;}
.tdw95{width: 95%;}
.tdw100{width: 100%;}