#tab {
	margin: 0 auto;
	border: 2px solid red;
	width: 90%;
	margin-top: 150px;
}

.consume {
	width: 170px;
	height: 55px;
}

.consume-area {
	width: 400px;
	height: 55px;
}

strong {
	font-size: 23px;
}

.consume-1 {
	padding-left: 290px;
}

.recharge-area {
	width: 400px;
	height: 55px;
}

button {
	width: 70px;
}

.area {
	background: #eff5f5;
	margin-top: 20px;
}

span {
	color: red;
	padding-left: 400px;
}